
html {
    font-size: calc(5px + 1vw);
}
.alturanav {
    height: 15vh;
}

.altura {
    height: 85vh;
}

.media-altura{
    height: 50vh;
}

.centrartext {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pselectfix{
    color:blueviolet;
    background-color: aquamarine;
}

.pselect{
    color:rgb(18, 90, 14);
    background-color:whitesmoke;
}
.pselect:hover{
    color:brown;
    background-color: chocolate;
}