
/*body{
    text-size-adjust: 1em;
}*/
.alturanav {
    height: 15vh;
}

.altura {
    height: 85vh;
}

.media-altura{
    height: 50vh;
}

.centrartext {
    justify-content: center;
    text-align: center;
    align-items: center;
}

#burguer{
    border-image-width: 3em;
}