
html {
    font-size: calc(5px + 1vw);
}
.alturanav {
    height: 15vh;
}

.altura {
    height: 85vh;
}

.media-altura{
    height: 50vh;
}

.centrartext {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.navTextFix{
    color: white;
    background-color: #043e31;
}
/*Quiero que el texto del campo seleccionado siempre sea blanco sobre fondo verde*/
.navTextFix:hover{
    color:white;
}

.navText{
    color: #043e31;
    background-color:white;
}
.navText:hover{
    color:white;
    background-color: #043e31;
}